@use '@angular/material' as mat;

h1 {
  position: relative;
  z-index: 2;
  font-size: 4rem;
  color: #000000;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

main {
  width: 100%;
  height: calc(100vh - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.angular-logo {
  max-width: 9.2rem;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.content h1 {
  margin-top: 1.75rem;
  font-family:
    Creepster,
    cursive,
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.pill-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}

.explore-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}
.explore-button.mat-mdc-raised-button:not(:disabled) {
  color: #0d6efd !important;
}

.slide-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  @include mat.slide-toggle-overrides(
    (
      label-text-size: 1.25rem,
    )
  );
}
