<mat-card
  class="responsive-card"
  tabindex="0"
  (click)="onSelect()"
  (keydown.enter)="onSelect()"
  (keydown.space)="onSelect(); $event.preventDefault()"
>
  <div class="image-section">
    <img [src]="cardInfo().image" alt="Character" />
  </div>

  <div class="content-section">
    <mat-card-header>
      <app-badge [status]="cardInfo().status"></app-badge>
      <mat-card-title>{{ cardInfo().name }} </mat-card-title>
      <mat-card-subtitle>{{ cardInfo().species }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content> {{ cardInfo().gender }} </mat-card-content>
  </div>
</mat-card>
