@use '@angular/material' as mat;

// SUCCESS
.toast-success {
  @include mat.snack-bar-overrides(
    (
      container-color: #4caf50,
      supporting-text-color: white,
      button-color: white,
    )
  );
}

// ERROR
.toast-error {
  @include mat.snack-bar-overrides(
    (
      container-color: #f44336,
      supporting-text-color: white,
      button-color: white,
    )
  );
}

// INFO
.toast-info {
  @include mat.snack-bar-overrides(
    (
      container-color: #2196f3,
      supporting-text-color: white,
      button-color: white,
    )
  );
}

// WARNING
.toast-warning {
  @include mat.snack-bar-overrides(
    (
      container-color: #ff9800,
      supporting-text-color: white,
      button-color: white,
    )
  );
}
